langchain
langchain-core
langchain-experimental
langchain-community
langchain-openai
langchain-teddynote
langchain-huggingface
langchain-google-genai
langchain-anthropic
langchain-cohere
langchain-chroma
langchain-elasticsearch
langchain-upstage
langchain-cohere
langchain-milvus
langchain-text-splitters
flask
flask_sqlalchemy
flask_cors
openai